---
import { inferRemoteSize } from 'astro:assets';
const {width, height} = await inferRemoteSize("https://live.staticflickr.com/65535/54163807312_d8456912ba_o_d.jpg");
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<p>The real size of the image is 3730 x 5535, but `inferRemoteSize()` determines it as {width} x {height}</p>
	</body>
</html>
